<h2>Add New Post</h2>
<p>
  We will add new post here
</p>

<p>
<form action="/new" method="POST">
  <div class="form-group">
    <label>Ваше имя</label>
    <input name="post[name]" type="text" class="form-control" placeholder="Введите ваше имя" value = "<%= @p.name%>">
  </div>

  <div class="form-group">
    <label>Ваш текст</label>
    <input name="post[content]" type="text" class="form-control" placeholder="Введите Ваш текст" value = "<%= @p.content%>">
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</p>

